<table ng-if="widgets.length != 0">
	<tr>
		<td class="widget-container" rowspan="2"><div id="widget0" class="widget">
			<widget id="widget-id-0" ng-if="widgets[0]" title="{{widgets[0].title}}" dataUrl="{{widgets[0].dataUrl}}" type="{{widgets[0].type}}"/>
		</div></td>
		<td class="widget-container"><div id="widget1" class="widget">
			<widget id="widget-id-1" ng-if="widgets[1]" title="{{widgets[1].title}}" dataUrl="{{widgets[1].dataUrl}}" type="{{widgets[1].type}}"/>
		</div></td>
		<td class="widget-container"><div id="widget2" class="widget">
			<widget id="widget-id-2" ng-if="widgets[2]" title="{{widgets[2].title}}" dataUrl="{{widgets[2].dataUrl}}" type="{{widgets[2].type}}"/>
		</div></td>
		<td class="widget-container"><div id="widget3" class="widget">
			<widget id="widget-id-3" ng-if="widgets[3]" title="{{widgets[3].title}}" dataUrl="{{widgets[3].dataUrl}}" type="{{widgets[3].type}}"/>
		</div></td>
	</tr>
	<tr>
		<td class="widget-container"><div id="widget4" class="widget">
			<widget id="widget-id-4" ng-if="widgets[4]" title="{{widgets[4].title}}" dataUrl="{{widgets[4].dataUrl}}" type="{{widgets[4].type}}"/>
		</div></td>
		<td class="widget-container"><div id="widget5" class="widget">
			<widget id="widget-id-5" ng-if="widgets[5]" title="{{widgets[5].title}}" dataUrl="{{widgets[5].dataUrl}}" type="{{widgets[5].type}}"/>
		</div></td>
		<td class="widget-container"><div id="widget6" class="widget">
			<widget id="widget-id-6" ng-if="widgets[6]" title="{{widgets[6].title}}" dataUrl="{{widgets[6].dataUrl}}" type="{{widgets[6].type}}"/>
		</div></td>
	</tr>
</table>

<span ng-if="widgets.length == 0">No Widgets here. Add some.</span>