<table class="widget-content-table">
	<tr ng-if="type == 'MULTISTAT'" ng-repeat="point in data.values">
		<td class="content-cell data {{$first || $middle ? 'non-last-row' : ''}} {{point.style}}">{{point.value}}</td>
		<td class="content-cell data-label {{$first || $middle ? 'non-last-row' : ''}}">{{point.label}}</td>
	</tr>
	<tr ng-if="type == 'ABSOLUTE'">
		<td class="content-cell big-data">
			<span class="{{data.actual < data.threshold ? 'success' : 'error'}}">
				{{data.actual}}
				<img ng-if="data.actual < data.threshold" class="absolute-icon-success" src="images/all-good.png">
				<img ng-if="data.actual > data.threshold" class="absolute-icon-error" src="images/not-so-good.png">
			</span>
		</td>
	</tr>
	<tr ng-if="type == 'CHART'" ng-repeat="stat in data.values">
		<td class="chart-content-cell chart-data">
			<div ng-if="stat.value > 0" class="chart-div" style="width: {{stat.perc}}%; background-color: {{stat.color}}">&nbsp;</div>
		</td>
		<td class="content-cell chart-data">{{stat.value}}</td>
		<td class="content-cell data-label">{{stat.label}}</td>
	</tr>
</table>