body {
	padding-left: 125px;
	padding-right: 125px;

	padding-top: 20px;
	padding-bottom: 20px;	
}

#dash-content-id {
	min-height: 400px;
	min-width: 600px;

	padding-left: 6px;
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
}

.widget {
	position: relative;

	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.widget-container {
	padding-left: 6px;
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
}

.widget-table {
	border: none;
	width: 100%;
	height: 100%;
}

.widget-cell {
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;

	vertical-align: middle;
	text-align: center;
}

.widget-title {
	font-family: arial;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 2px;
	color: #FFFFFF;

	background-color: #858513;
	height: 50px;
	cursor: move;
}

.widget-content {
	background-color: #EDEDE1;
}

.droppable-hover {
	border: dashed 1px;
}